body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #85F6B8
0%, rgba(142, 217, 235, 0.85) 99.84%);
 }
 
section{
width: 450px;
height: 400px;
left: 192px;
top: 250px;
padding: 40px;
background-color: #ffff;
border-radius: 5px;
margin:15em 15em;

}
h1{
    text-align: center;
    margin-top: 10px;
}
.begin{
    display: flex;
    flex-direction: column;
    margin: 2px;
    margin-top: 5px;
}
.button{
    text-align: center;
    
}
.buttonBegin {
    
    background-color: green; 
    color:#ffff;
    font-size: 25px;
    margin-top: 20px;
    cursor: pointer;
}
.emailLab{
    margin-top: 40px;
}
input[type=text],
input[type=email]{
    width: 100%;
    height: 40px;
        
}
.paragraph{
    text-align: center;
    padding: 50px;
    margin-top: -52px;
    margin-left: -18px;
}

.progressbar{
    width: 100%;
    background-color: rgb(194, 199, 194);
    margin-top: 5px;
    border-radius: 20px;
    height: 10px;
    
}
.progressBar{
    background-color: green;
    width: 50%;
    height: 10px;
    border-radius: 20px;
}
.question{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.paragraph1{
    text-align: center;
}
.buttonQuitter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/* .assert{
    display: flex;
} */
.quitter{
    height: 3.1em;
    width: 12em;
    color:white;
    font-size: 15px;
    background: #EC880C;
    cursor: pointer;
}
.quitter:hover{
    background-color: #85643d ;
}

.suivant{
    height: 3.1em;
    width: 12em;
    color:white;
    font-size: 15px;
    background: green;
    cursor: pointer;  
}
.suivant:hover{
    background-color: rgb(37, 172, 120); 
}
.assert{
    margin: 30px;
    
}
